{
	"trailingComma": "all",
	"tabWidth": 4,
	"semi": false,
	"singleQuote": true,
	"overrides": [
		{
			"files": "*.yml",
			"options": {
				"tabWidth": 2
			}
		},
		{
			"files": "*.prisma",
			"options": {
				"tabWidth": 2
			}
		}
	]
}